<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <link rel="stylesheet" href="http://127.0.0.1:5502/css/normalize.css">
    <link href="http://asistentevoz.codigohabil.com/sc/grid.css"rel="stylesheet">
    <link href=" http://127.0.0.1:5502/font/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="http://127.0.0.1:5502/css/style.css">

    <title>Registrar usuario</title>
</head>
<body>
<!--- Begin - Top menu -->
<nav class="menu-top">
    <div class="logo">
        <a href="/">SoftTracker</a>
    </div>
    <div class="menu">
        <ul class="module">
            <li><a th:href="@{/}" class="active">Proyectos</a></li>
            <li><a th:href="@{/tasks}">Tareas</a></li>
            <li><a href="http://">Bugs</a></li>
        </ul>
    </div>
    <div class="login-section">
        <ul>
            <li><a href="http://" class="language"><i class="fas fa-globe-americas"></i> ES</a></li>
            <li><a href="http://"><i class="fas fa-user"></i> Iniciar sesión</a></li>
        </ul>
    </div>
</nav>
<!--- Finish - Top menu -->

<main>
    <div class="container" style="margin-top: 6rem;">

        <div class="form-container login-container">
            <div class="title-sign">
                <h1> <i class="fas fa-user-plus"></i> Registro de usuario</h1>
            </div>

            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="">Nombre <span style="color: red;">*</span></label>
                    <div class="form-control">
                        <input type="type" name="" id="" placeholder="Nombre de usaurio" th:field="*{firstName}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Apellido</label>
                    <div class="form-control">
                        <input type="type" th:field="*{lastName}" name="" id="" placeholder="Apellido del usaurio">
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Correo electrónico <span style="color: red;">*</span></label>
                    <div class="form-control">
                        <input th:field="*{email}" type="email" name="" id="" placeholder="Ej: nombre@correo.com" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Contraseña <span style="color: red;">*</span></label>
                    <div class="form-control">
                        <input  th:field="*{password}" type="password" name="" id="" placeholder="Contraseña" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-sign">
                </div>

                <p style="text-align: right;">¿Ya tienes cuenta? <a  th:href="@{/login}"> Iniciar sesión aquí</a></p>

            </form>
        </div>

    </div>
</main>


</body>
</html>